@use "../../style/partials/mixins" as *;
@use "../../style/partials/fonts" as *;

.header {
  background-color: white;
  box-shadow: 0px 15px 10px -15px lightsalmon; 
  font-family: 'Nunito Regular';
  &__container {
    @include tablet {
      width: 100%;
      display: flex;
      align-items: center;
    }

    @include desktop {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  &__logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;

    @include tablet {
      justify-content: flex-start;
      margin-left: 2rem;
      margin-bottom: 0;
    }

    @include desktop {
      margin-left: 0;
      width: 60%;
    }
    
  }

  &__link {
    width: fit-content;
  }

  &__logo {
    width: 150px;
    height: 100px;
    border-radius: 20%;
    @include desktop{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
  }
  &__userlogin{
    margin-right: 20rem;
  }
  &__userlogo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  &__navlist-container {
    @include tablet {
      margin-right: 2rem;
    }

    @include desktop {
      margin-right: 0;
    }
  }

  &__navlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    color: white;
    justify-content: space-between;
    @include tablet {
      justify-content: flex-end;
      gap: 7rem;
    }
  }

  &__list-item {
    @include tablet {
    }
  }

  &__navlink {
    font-family: 'Nunito Bold';
    text-decoration: none;
    margin-right: 1.5rem;
    border-radius: 1.25rem;
    color: chocolate;
    font-size: 18px;
    &-1{
        display: none;
        @include desktop {
            display:block;
            border: 2px solid rgb(255, 166, 0);
            border-radius: 50%;
          }
    }
    @include desktop{
        font-size: 15px;
    }

    @include tablet {
     padding: 0;
     // margin: 0.5rem;
    }

    &.active {
      background-color: lightblue;
      color: white;
    }

    &:hover {
      color: darkkhaki;
      cursor: pointer;
    }
  }
 
}