@font-face {
    font-family: 'Nunito Regular';
    src: url('../../assets/fonts/Nunito-Regular.woff') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Bold';
    src: url('../../assets/fonts/Nunito-Bold.woff') format('woff2');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Nunito light';
    src: url('../../assets/fonts/Nunito-ExtraLight.woff') format('woff2');
    font-weight: 200;
    font-style: light;
}