@use "../../style/partials/mixins" as *;
@use "../../style/partials/fonts" as *;


.main__container{
    position: relative;
}
.mainImage{
    width: 100%;
    height: 85%;
    display: none;
    opacity: 0.8;
    @include desktop{
        display: block;
    }
}
.search{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    
    @include desktop{
    position: absolute;
    top: 50%; 
    transform: translate(-30%, -50%); 
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        width: 80%;
    }
    h1 {
        color: grey;
        font-size: 20px;
        text-align: center;
        font-family: 'Nunito Regular';
        @include desktop{
            font-family: 'Nunito Bold';
            margin-bottom: 50px; 
            width: 40rem;
            color: white;
            font-size: 70px;
        }
       
    }
    &__holder{
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    &__input{
        background-size: .9375rem;
        background: url(../../assets/search.svg) no-repeat 8px;
        background-color: #fafafa;
        border: 1px solid #e0e0e0;
        border-radius: .3rem;
        height: 2.1875rem;
        margin-bottom: 1px;
        margin-right: .9375rem;
        margin-top: 1px;
        padding-left: 1.875rem;
        width: 90%;
        @include desktop{
            font-size: 15px;
            background: url(../../assets/search.svg) no-repeat 9.6px;
            background-color: #fafafa;
            height: 4rem;
            margin-right: 1.45rem;
            padding-left: 2.35rem;
            width: 25rem;
        }
        &:placeholder {
            font-family: 'Nunito light';
            white-space: pre;
            overflow-wrap: normal;
            overflow-x: hidden;
            overflow-y: hidden;
            line-height: initial;
            -webkit-text-security: none;
            }
        }
    }
    